	<!-- Title page -->
  <!--Image from https://wallpaperaccess.com/full/253332.jpg-->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url(<%= asset_path 'about.jpg' %>);">
		<h2 class="ltext-105 cl0 txt-center">
			Shop
		</h2>
	</section>	

	<!-- Content page -->
	<section class="bg0 p-t-62">
		<div class="container ">
			<div class="row">
				<div class="col-md-8 col-lg-12">
				
						<!-- item blog -->
								<h4 class="p-b-15">
									<a href="#" class="ltext-108 cl2 hov-cl1 trans-04">
										Shop with us
									</a>
								</h4>

								<p class="stext-117 cl6">
									Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce eget dictum tortor. Donec dictum vitae sapien eu varius
								</p>

<!-- Search form -->

<style> 
input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  display: block;
}

input[type=text]:focus {
  width: 100%;
}
</style>
           <form> 
          <%= form_tag shops_path, :method => 'get' do %>
              <%= content_tag :label do %>
                Search for a book:
                <input type="text" name="search" placeholder="Search.."<%= text_field_tag :search, params[:search] %>
                <button type="button" class="btn btn-outline-dark" style="display: block"<%= submit_tag("Search") %>Search</button>
              <% end %>
            <% end %>
         </form>
            <!--Book table section-->
            <h1 class="txt-center">Books on the shelf:</h1>
            <table id="dttb" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Author</th>
                  <th>Avg rating</th>
                  <th>Price</th>
				          <th>Image</th>
                  <th>Details</th>
                  <th>Quantity</th>
                  <th>Add to Cart</th>
                  <% if user_signed_in? %>
                  <% if current_user.admin == true %>
                  <th>Edit</th>
                  <th>Destroy</th>
                  <% end %>
                  <% end %>
                </tr>
              </thead>
              <tbody>
              <% @books.each do |book| %>
			        <% if notice %>
			        <aside id="notice"><%= notice %></aside>
			        <% end %>
                <tr>
                  <td><%= book.title %></td>
                  <td><%= book.author %></td>
                  <td><%= book.avg_rating %></td>
                  <td><%= book.price %></td>
				          <td><%= image_tag("http://covers.openlibrary.org/b/isbn/#{book.isbn}-S.jpg") %></td>
                  <td><button type="button" class="btn btn-outline-info"><%= link_to 'Show', book %></button></td>
                  <%= form_for @order_item do |f|%>
                  <%= f.hidden_field :book_id, :value => book.id %>
                  <td><%= f.number_field :quantity, :value => 1, :main => 1%></td>
                  <td><button type="button" class="btn btn-outline-success"><%= f.submit ""%>Add to Cart</button></td>
                   <% end %> 
                   <% if user_signed_in? %>
                   <% if current_user.admin == true %>
                  <td><button type="button" class="btn btn-outline-dark"><%= link_to 'Edit', edit_book_path(book) %></button></td>
                  <td><button type="button" class="btn btn-outline-danger"><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
                  <% end %>
                  <% end %>
                </tr>
              <% end %> 
              </tbody>
            </table>
            <br>
            <div align="center">
                <%== pagy_nav(@pagy) %>
                <% if user_signed_in? %>
                <% if current_user.admin == true %>
                <!--<button type="button" class="btn btn-info" <%= link_to 'New Book', new_book_path %></button> -->
                <% end %>
                <% end %>
                <br>
          
            </div>

                <%= link_to "#{current_order.order_items.size} items with a value of £", carts_path%>
        </div>
      </div>
    </div>
  </section>
        <br>





                                                                                                                                                     